:root {
  --primaryFont: "Poppins", sans-serif;
  --primaryBg: #1d1d1d;
  --secondaryBg: #4e5ba6;
  --primaryTextColor: #fff;
}

* {
  font-family: var(--primaryFont);
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

* {
  scroll-behavior: smooth !important;
}

@media (prefers-reduced-motion: reduce) {
  html {
    display: none;
  }
}

html, body {
  height: 100%;
  overflow-x: hidden;
}
.bg-light-custom {
  background-color: #eeeeee;
}

.fa-arrow-down-short-wide {
  font-size: 25px !important;
}

main nav {
  background-color: transparent !important;
  z-index: 1;
  position: relative;
}

.home .left-section {
  background-color: var(--secondaryBg);
  padding: 50px
}

.description-text h5{
  font-weight: 400 !important;
}

.fw-700 {
  font-weight: 700;
}

.fw-600 {
  font-weight: 600;
}

.socials i {
  font-size: 40px;
  color: var(--primaryTextColor) !important;
}

.border-bottom {
  border-bottom: var(--primaryTextColor) 4px solid !important;
}

.cto-projects {
  cursor: pointer;
}

.cto-projects a {
  border-radius: 22px;
  border: 0;
  font-weight: 500;
  padding: 10px 16px;
  color: var(--primaryBg)
}

.cto-projects a .fa-eye {
  color: var(--primaryBg) !important;
  font-size: 22px;
}

.line-breaker {
  height: 3px;
  background-color: #000;
  border: none;
  width: 100px;
  margin: 1.5rem auto;
}

.no-wrap {
  white-space: nowrap;
}

.project-col {
  display: flex;
  flex-direction: column;
  min-height: 100%;
}

.project-figure {
  flex-grow: 1;
  margin: 0;
  min-height: 320px;
  display: flex;

}

.project-image {
  max-height: 320px; 
  width: auto;
  height: auto;
  object-fit: contain;
  margin: auto;
  background-color: #cecece;
  padding: 35px 25px;
  border-radius: 10px;
  cursor: pointer;
}

@media (max-width: 576px) {
  .project-image {
    padding: 18px 13px;
  }
  .carousel-indicators {
    margin-bottom: unset !important;
  }
}

.carousel-control-next-icon,
.carousel-control-prev-icon {
  background-color: #000 !important;
}

.carousel-indicators {
  position: absolute;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: 2;
  display: flex;
  justify-content: center;
  padding: 0;
  margin-right: 15%;
  margin-bottom: -2rem;
  margin-left: 15%;
}

.carousel-indicators [data-bs-target] {
  background-color: #6f42c1; 
  width: 10px;
  height: 10px;
  border-radius: 50%;
  opacity: 1;
}

.project-text {
  margin-top: 25px !important;
}

.carousel-indicators .active {
  background-color: #9e66f0;
}


.font-purple {
  color: var(--secondaryBg) !important;
}

.text-green {
  color: #0fb00f;
  font-weight: bold;
}

.line-breaker {
  height: 3px;
  background-color: var(--secondaryBg) !important;
  border: none;
  width: 100px;
  margin: 2rem auto;
}

.description-text h5 {
  color:#535353 !important
}

.centered-description {
  margin: 0 auto;  
  line-height: 1.6;
}
.tech-stacks img {
  height: 65px;
  width: auto;
}

.tech-stacks-wrapper {
  white-space: nowrap;
  width: 100%;
  overflow: hidden;
}

.tech-stacks img {
  width: 60px;
  height: auto;
}

.animate-scroll {
  animation: scroll-left 25s linear infinite;
}

@keyframes scroll-left {
  0% {
    transform: translateX(0%);
  }
  100% {
    transform: translateX(-50%);
  }
}

